body
{
  font-family:Indie+Flower;
  background: #ade8ff;
}

.header_div
  {
  background: #380079;
  color: rgb(255, 255, 255); 
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #6c757d;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #000000;
   line-height: 3;
   text-align: center;
  
}